/* CSS Variables */
:root {
    --bg-color: #23282B;
    --text-color: white;
    --primary-color: #b81414;
    --primary-color-hover: #800000;
    --font-family: Algerian;
    --border-color: #444;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center; /* Выравнивание по центру */
    align-items: center; /* Выравнивание по вертикали */
    padding: 20px;
    position: relative; /* Добавил относительное позиционирование */
}

.logo-and-title {
    display: flex;
    align-items: center; /* Выравнивает логотип и название по вертикали */
    margin-left: -20px; /* Сдвиг влево */
}

.logo-and-title a {
    text-decoration: none; /* Удалил подчеркивание ссылки */
}

.logo-image {
    width: 150px; /* Ширина логотипа */
    height: auto;
    margin-right: 10px; /* Небольшой отступ между логотипом и названием */
}

h1 {
    margin: 0; /* Удалил отступы */
}

.auth-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.auth-buttons a {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    flex-grow: 1;
}

.search-bar {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    background-color: var(--border-color);
    color: var(--text-color);
    margin-right: 5px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 40px;
}

.search-bar button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.search-bar button:hover {
   opacity: 0.8;
}

.button-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap :20px;
   margin-top :30px;
}

.button {
   background-color : var(--primary-color);
   border : none;
   color : var(--text-color);
   padding :15px 30px ;
   text-align : center ;
   text-decoration : none ;
   display : inline-block ;
   font-size :1rem ;
   cursor : pointer ;
   border-radius :5px ;
   transition : background-color 0.3s ;
}

.button:hover {
   background-color : var(--primary-color-hover);
}

footer {
   text-align : center;
   padding :10px ;
   border-top :1px solid var(--border-color);
   display : flex;
   align-items : center;
   justify-content : center;
}

/* Новый стиль для изображения в подвале */
.footer-image {
   width: 20px;     /* Ультрамаленький размер */
   height: 20px;
   margin-left: 10px; /* Отступ слева от текста */
}

/* Media Queries */
@media (max-width :768px) {
   .container { width :95%; }

   .search-bar input[type="text"] { width :70%; }

   .button { padding :10px 20px ; font-size :0.9rem ; }
}

@media (max-width :480px) {
   .header { flex-direction : row ; align-items : center; }

   .button-container { flex-direction : column; align-items : center; }
}

/* Custom styles for login and register pages */
.auth-page-container {
  width: 50%;
  margin: 20px auto;
  background: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white; /* Added to ensure text is visible */
}

.auth-image {
  width: 75px; /* Reduced width to half (was 150px) */
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.form-wrapper {
  text-align: left;
  padding: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: var(--text-color); /* Use CSS variable for label color */
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #666;
  background-color: #555;
  color: var(--text-color); /* Use CSS variable for text color */
  border-radius: 5px;
}

.auth-page-container a {
    color: var(--primary-color);
    text-decoration: none; /* Remove underline */
}

.auth-page-container a:hover {
    text-decoration: underline;
    color: var(--primary-color-hover);
}
.auth-page-container .submit-button {
    background-color: var(--primary-color); /* Red background color */
    color: var(--text-color); /* White text color */
    padding: 12px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    height: 45px; /* Increased height by about 1.5 times */
}

.auth-page-container .submit-button:hover {
    background-color: var(--primary-color-hover); /* Darker red on hover */
}
/* Dropdown Button */
.dropdown .button {
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* user_notes styles start */
.user-notes-container {
    margin: 20px;
    padding: 20px; /* Добавил отступы */
    border: 1px solid var(--border-color); /* Добавил рамку */
    border-radius: 10px; /* Закругленные углы */
    background-color: #444; /* Фон */
}

.user-notes-container h2 {
    margin-bottom: 15px;
}

.user-notes-container h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-notes-container ul {
    list-style-type: none;
    padding: 0;
}

.note-box-rounded {
    background-color: #555; /* Фон для каждого элемента */
    padding: 10px; /* Отступы для каждого элемента */
    border-bottom: 1px solid var(--border-color); /* Разделительная линия */
    border-radius: 5px; /* Закругленные углы */
    margin-bottom: 10px; /* Отступ между элементами */
}

.user-notes-container strong {
    font-weight: bold;
    color: var(--primary-color);
    display: block;
    margin-bottom: 0.5em;
}
/* user_notes styles end */

/* Comic list styles */
.comic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
}

.comic-item {
    width: calc(30% - 20px); /* Уменьшил ширину */
    margin: 10px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.comic-item a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    min-height: 250px; /* Оставил высоту */
}

.comic-item img {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Оставил высоту картинки */
    margin-bottom: 10px;
    object-fit: contain; /* Make the image fit inside the container */
}

.comic-item h3 {
    margin-bottom: 5px;
}

.comic-item p {
    margin: 0;
}
